<nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(to left, rgba(126, 167, 168,0), rgba(126, 167, 168,1));color: aliceblue">
  <div class="container-fluid">
    <a class="navbar-brand"  style="text-transform: uppercase;font-family: Times New Roman, Times, serif;font-size: x-large;color:white;">gym sam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accueil" style="color:white; text-transform: uppercase;font-family: Times New Roman, Times, serif">accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeActivite" style="color:white; text-transform: uppercase;font-family: Times New Roman, Times, serif">activité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listUsers" style="color:white; text-transform: uppercase;font-family: Times New Roman, Times, serif">membres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reclamation" style="color:white; text-transform: uppercase;font-family: Times New Roman, Times, serif">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration" style="color:white; text-transform: uppercase;font-family: Times New Roman, Times, serif">inscription</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
